img {
    width: 400px;
    margin-right: 30px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 50px;
}

.thumbnail {
    cursor: pointer;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: 200ms ease-in-out;
    border-radius: 10px;
}

.thumbnail:hover {
    transform: scale(1.1);
}